<a href="https://colab.research.google.com/github/stopsilver831/02_V.D.O/blob/main/_02_%EB%B3%80%EC%88%98%2C_%EC%9E%90%EB%A3%8C%ED%98%95%2C_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수, 자료형, 연산자



---


## 변수(Variables)

### 변수명 규칙



---

## 자료형(Data Types)

### 불리언형 자료형(Boolean Type)

* 불리언은 `True`와 `False` 값으로만 표현할 때 사용하는 자료형
* 예제 코드에서 변수 `b`에 `True` 값을 넣으면 불리언 자료형으로 결정
* 자료형을 반환하는 내장함수 `type()` 함수를 이용하여 자료형을 확인하면 `bool`로 반환된 결과를 볼 수 있음

### 정수형 자료형(Integer Type)

#### 10진수(Decimal)

* 10진수는 일반적인 숫자 표현을 그대로 사용
* 변수 `i`에 10진수로 숫자 10을 값으로 넣고, `type()` 함수를 통해 자료형을 확인하기

#### 2진수(Binary)

* 2진수는 앞에 `0b`를 붙여서 표현
* 변수 `b`에 2진수 표현으로 `0b010`을 넣고, `type()` 함수를 통해 자료형을 확인하기

#### 8진수(Octal)

* 8진수는 앞에 `0o`를 붙여서 표현
* 변수 `o`에 8진수 표현으로 `0o130`을 넣고 확인하기

#### 16진수(Hexadecimal)

* 16진수은 앞에 `0x`를 붙여서 표현
* 변수 `h`에 16진수 표현으로 `0xABC`를 넣고 확인하기
* 16진수는 10진수와 달리 10부터 A에서 F까지 알파벳을 사용하여 표현

### 실수형 자료형(Floating-Point Type)

* 실수형 자료형 표현은 고정소수점과 부동소수점으로 구분

#### 고정소수점(Fixed-Point)

* 기본적으로 고정된 자리수의 소수를 사용하는 고정소수점 방식
* 실수형 변수 `f`에 소수점이 포함된 `12.34` 값을 넣고 확인하기
* `type(f)`를 통해서 결과를 확인해보면 실수형(float) 자료형으로 출력
* 파이썬에서는 소수에서 정수부가 0인 경우에는 제외해서 표현 가능
* 코드에서 값 `.123`은 `0.123`을 의미

#### 부동소수점(Floating-Point)

* 컴퓨터에서 소수점의 위치가 고정되지 않고 넓은 범위의 값을 근사하여 표현하는 부동소수점 방식이 있음
* 부동소수점에 대한 개념을 모르는 경우에는 [링크](https://ko.wikipedia.org/wiki/%EB%B6%80%EB%8F%99%EC%86%8C%EC%88%98%EC%A0%90)를 참고
* 파이썬에서는 e 기호를 이용하여 지수에 대한 표현을 사용
* `e` 변수에 할당한 `1234e-2` 라는 표현은 $1234 \times 10^{-2}$를 의미하고 실제 결과 값은 12.34
* `type(e)` 함수를 통해 타입을 확인해보면 실수형
* 마찬가지로 `123e-3`은 $123 \times 10^{-3}$를 의미하며 결과는 0.123

###복소수형 자료형(Complex Type)

* 복소수(complex number)는 임의의 실수 $a$, $b$에 대해 $a + bi$의 꼴로 나타내는 수를 의미
* 여기서 $a$는 실수, $b$는 허수 부분
* i는 제곱하여 -1이 되는 수로 허수(imaginary number) 단위라고 함
* 복소수에 대한 개념을 모르는 경우에는 [링크](https://ko.wikipedia.org/wiki/%EB%B3%B5%EC%86%8C%EC%88%98) 참고
* 파이썬에서는 i 대신에 j 또는 J로 표현
* $1 + 23j$와 같이 복소수로 표현하기
* `print()` 함수를 이용해 출력한 결과 `(1+23j)`
* 실수부는 `c.real`로 허수부는 `c.imag`로 출력
* 복소수의 경우에는 `type()` 함수로 타입을 살펴보면 결과는 'complex'

### 문자열 자료형(String Type)

* 문자열(string)은 문자들의 집합을 의미
* 문자열을 저장하는 변수를 문자열 변수라고 함

In [ ]:
string = "Jieun"

### 리스트 자료형(List Type)

* 리스트(list)는 여러 값을 하나의 변수에 담을 수 있는 자료형
* 대괄호 안에 여러 값을 쉽표를 구분자로 표현하여 리스트 변수 생성
* 간단하게 리스트 생성과 출력을 위해 변수 `l` 안에 값 1, 2, 3을 넣어보자
* 자료형을 출력해보면 'list'라는 결과 값을 가지는 것을 알 수 있음

In [5]:
t = [1, 2, 3]
print(t)

[1, 2, 3]

* 리스트 자료형은 같은 자료형이 아니라 다른 자료형을 가지는 값들도 포함하여 구성 가능
* 숫자와 문자열이 포함된 리스트 변수 사용하기

In [8]:
l = [1, "one", 2, "two", 3, "three"]
print(l)
print(type(l))

[1, 'one', 2, 'two', 3, 'three']
<class 'list'>

### 튜플 자료형(Tuple Type)

* 튜플 자료형은 리스트 자료형과 유사하지만 생성, 삭제, 수정이 불가
* 튜플은 괄호 안에 여러 값을 쉼표로 구분하여 사용
* 변수 `t` 안에 값 1, 2, 3을 저장하고, 변수와 변수의 타입을 출력하기

In [10]:
t = (1, 2, 3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

### 범위 자료형(Range Type)

* 불변한 숫자 시퀀스 자료형

In [12]:
r = range(10)
print(r)
print(type(r))

range(0, 10)
<class 'range'>

### 집합 자료형(Set Type)

* 집합 자료형은 중복과 순서가 없다는 특징을 가지며 집합 처리를 쉽게할 수 있음
* 집합은 중괄호를 이용해서 값을 쉼표로 구분하여 넣음
* 변수 `s` 안에 값 2, 3, 1을 넣고 변수 `s`의 값과 타입을 출력한 예제
* 변경 불가능한 집합 자료형으로 fronzenset이 있음

In [21]:
s = {2, 3, 1}
print(s)
print(type(s))

fs = frozenset(s)
print(fs)
print(type(fs))

{1, 2, 3}
<class 'set'>
frozenset({1, 2, 3})
<class 'frozenset'>

### 딕셔너리 자료형(Dictionary Type)

* 딕셔너리 자료형은 다른 자료형과 달리 키(key)와 값(value)를 한 쌍으로 갖는 자료형
* 변수 `d`에 키와 값을 구분자 `:`를 이용해서 쌍으로 묶어서 `1: 'One', 2: 'Two'` 형태로 넣을 수 있음

In [22]:
d = {1: 'One', 2: 'Two'}
print(d)
print(type(d))

{1: 'One', 2: 'Two'}
<class 'dict'>

### 바이트 시퀀스형(Byte Sequence Type)

* 바이트 자료형은 1바이트 단위의 값을 연속적으로 저장하는 시퀀스 자료형
* 1바이트는 8비트에 해당하며, 정수값 0 ~ 255(0x00~0xFF) 사용
* 이진 데이터로 사용되어지거나 1바이트 문자로 고정을 위해 사용
* 유니코드가 아닌 문자열을 사용하는 것과 유사
* 바이트 자료형의 시퀀스 형태로 `bytearray` 자료형 사용
* 바이트 자료형의 메모리 값의 표현으로 `memoryview` 자료형 사용

In [59]:
byte = b'\x00'
type(byte)

bytes

In [41]:
byte = b'\x00'
print(byte)
print(type(byte))

byte = b"Hello"
print(byte)
print(type(byte))

ba = bytearray(byte)
print(ba)
print(type(ba))

mv = memoryview(ba)
print(mv)
print(type(mv))

TypeError: cannot convert 'type' object to bytearray



---

## 자료형 변환

#### bool()

* `bool()` 함수는 다양한 자료형을 불리언형으로 변환
* `0`이나 `False` 값이 아닌 경우는 모두 True로 변환

In [48]:
print(bool(True))
print(bool(12.34))
print(bool(1234e-2))
print(bool(False))

bytearray(b'')

### int()

* `int()` 함수는 다양한 자료형을 정수형으로 변환
* 복소수형은 정수로 `int()` 함수를 통해 변환이 되지 않음
* 불리언 형은 값으로 `True`와 `False`만 가지고 `int()` 함수를 통해 정수로 변환되면 `True`는 1로 `False`는 0으로 변환
* 정수값 10과 2진수 `0b010`, 8진수 `0o130`, 16진수 `0xABC`는 모두 같은 정수형이라서 그대로 값을 유지하고, 10진수 형태로 변환되어 출력
* 실수형을 정수형으로 변환하는 경우에는 고정소수점이든 부동소수점이든지 소수점 이하를 제외하고 변환, 예를 들어, 12.34는 12로 소수점을 제외하고 변환
* 문자형은 기본적으로는 문자열을 10진수 변환, 예를 들어, `int('10')`은 기본 10진수로 문자열 '10'을 정수형 10으로 변환
* 2진수, 8진수, 16진수 등의 다른 진수로 된 문자열일 경우에는 몇 진수에 해당되는지를 입력해주면 그에 맞추어 변환
* `int('010', 2)`와 같이 문자열 '010'을 2진수라고 알려주고 변환하기 위해서 2라고 입력하고, 8진수과 16진수도 마찬가지

In [51]:
print(int(True))
print(int(12.34))
print(int(1234e-2))
print(int(False))
print(int('010', 2))

bytearray(b'\x00\x00')

### float()

* `float()` 함수는 자료형을 실수형으로 변환
* 복소수형은 변환이 되지 않고, 문자열 형태의 2진수, 8진수, 16진수도 변환이 되지 않음
* `int()` 함수를 사용한 결과와 유사하지만, 소수점 이하 값이 포함
* 만약 소수점 이하 값이 없다면 .0으로 변환되고, 소수점 이하 값이 있는 실수형은 동일한 값으로 변환

In [62]:
float(True)

1.0

In [60]:
print(float(True))
print(float(12.34))
print(float(1234e-2))
print(float(False))
print(float('010', 2))

TypeError: cannot convert 'float' object to bytearray

### complex()

* `complex()` 함수는 자료형을 복소수형으로 변환
* 불리언형, 정수형, 실수형, 복소수형, 문자형 모두 복소수형으로 변환 가능
* 허수가 있는 복소수형을 제외하고 다른 자료형은 허수 부분이 없어서 `Oj`로 변환

In [63]:
complex(True)
complex(12.34)
complex(1234e-2)
complex(False)
complex('010', 2)

TypeError: complex() can't take second arg if first is a string

### str()

* `str()` 함수는 파이썬의 모든 자료형을 문자열로 변환
* 자료형의 값을 그대로 문자열 형태로 변환

In [67]:
str(True)
str(12.34)
str(1234e-2)
str(False)
str('10')
str({1,'one', 2, 'two'})

"{1, 'one', 2, 'two'}"

### eval()

* `eval()` 함수는 문자열에 포함된 수식을 계산하여 나온 결과를 반환
* '1 + 2'라는 문자열에 대해서 그대로 출력하는 것과 달리 계산된 결과 값은 3을 출력
* 그 밖에도 -, *, /와 같은 여러 수식들에 대해서도 계산 가능

In [77]:
"1+2"
eval("1+2")
eval("10+20-30")

0

### tuple()

* `tuple()` 함수는 문자열, 리스트, 튜플 등의 자료형을 튜플 자료형으로 변환
* 문자열 `'Suan'`을 문자 단위로 구분하여 튜플 자료형으로 변환
* 리스트 자료형 `[1, 2, 3]`이나 튜플 자료형 `(1, 2, 3)`도 튜플 자료형으로 `(1, 2, 3)`으로 변환

In [78]:
tuple('jieun')

('j', 'i', 'e', 'u', 'n')

### list()

* `list()` 함수는 문자열, 리스트, 튜플 등의 자료형을 리스트 자료형으로 변환
* 문자열 `'Suan'`, 리스트 `[1, 2, 3]`, 튜플 `(1, 2, 3)`에 대해서 리스트 자료형으로 변환

In [79]:
list('jieun')

['j', 'i', 'e', 'u', 'n']

### set()

* `set()` 함수는 문자열, 리스트, 튜플, 집합, 딕셔너리 자료형을 집합 자료형으로 변환
* 집합의 특성답게 요소에 대해서 순서를 고려하지 않고 변환
* 리스트, 튜플, 집합 자료형도 집합 형태로 변환이 되며, 딕셔너리 자료형도 집합으로 변환
* 딕셔너리 자료형은 키와 값으로 구성된 구조에서 키 값에 해당하는 것만 집합으로 변환

In [87]:
print(set('jieun'))
print(set([1, 2, 3]))
print(set({1: 'one'}))

TypeError: 'str' object cannot be interpreted as an integer

### frozenset()

* `frozenset()` 함수는 문자열을 고정 집합 형태로 변환
* `set()` 함수는 집합의 값을 추가 및 제거 등이 가능
* `frozenset()` 함수는 수정 불가능한 집합 자료형

In [88]:
frozenset('jieun')

frozenset({'e', 'i', 'j', 'n', 'u'})

### dict()

* `dict()` 함수는 딕셔너리 자료형으로 변환하는 역할
* (키: 값)으로 구성된 튜플의 시퀀스 형태로 값을 가짐

In [93]:
dict({1: 'one'})

{1: 'one'}

### chr()

* `chr()` 함수는 정수를 문자로 변환
* 컴퓨터에서는 문자를 처리하기 위해 각 문자마다 특정 정수값으로 매핑: ASCII(American Standard Code for Information Interchange)

* `chr()` 함수는 ASCII 기준에 따라서 정수값에 해당하는 문자를 나타냄
* 예를 들어, ASCII에서 정수 값 97은 문자 a에 매핑되어 `chr(97)`의 결과 값은 문자 a

In [94]:
chr(97)

'a'

### ord()

* `ord()` 함수는 `chr()` 함수와 반대로 문자를 정수 값으로 변환
* ASCII에 맞춰서 문자 'a'에 해당하는 정수 값인 97을 출력하기

In [95]:
ord('a')

97

### bin()

* `bin()` 함수는 정수를 2진수 문자열로 변환
* 자료형을 2진수 표기인 '0b'가 붙은 형태의 문자열로 변환
* `bin()` 함수로 `True`는 `0b1`로 출력하고, `False`는 `0b0`으로 출력하기
* 10진수, 2진수, 8진수, 16진수 정수형도 2진수로 변환되어 출력

In [99]:
bin'True'
bin('False')
bin(0b0)

SyntaxError: invalid syntax (<ipython-input-99-30b63f303e13>, line 1)

### oct()

* `oct()` 함수는 정수를 8진수 문자열로 변환
* 불리언형, 정수형 등의 자료형을 8진수 표기인 '0o'가 붙은 형태의 문자열로 변환
* `oct()` 함수를 이용해 `True`는 `0o1`로 출력되고, `False`는 `0o0`으로 출력하기
* 10진수, 2진수, 8진수, 16진수 정수형도 8진수로 변환되어 출력

In [101]:
print(oct'True')

SyntaxError: invalid syntax (<ipython-input-101-f434c1c05dfc>, line 1)

### hex()

* `hex()` 함수는 정수를 16진수 문자열로 변환
* 주어진 자료형을 16진수 표기인 '0x'가 붙은 16진수 형태의 문자열로 변환
* 불리언형과 정수형 모두 16진수 표기의 문자열로 변환하기

### bytes()

* `bytes()` 함수는 자료형을 바이트형으로 변환
* 객체를 바이트 객체로 변환

### bytearray()

* `bytearray()` 함수는 자료형을 변경가능한 바이트형으로 변환

### memoryview()

* 바이트 자료형을 메모리의 이진 데이터로 변환한 자료형

## 자료형 계산

### min()

* 입력된 값들 중에서 가장 작은 값을 반환하는 함수

### max()

* 입력된 값들 중에서 가장 큰 값을 반환하는 함수

### sum()

* 입력된 값들의 전체 합을 반환

### divmod()

* 나눈 값과 나머지 값을 쌍으로 반환
* `(a // b, a % b)`와 동일한 값

### abs()

* 절대값 $|x|$으로 반환

### pow()

* 지수승의 값 $a^b$으로 반환

### len(s)

* 다양한 시퀀스의 갯수를 반환

### round()

* 소수점 뒤를 반올림한 값을 반환

### all()

* 모든 값이 `True` 이거나 비어있을 때 `True` 반환

### any()

* 어떤 값이 `True` 이면 `True` 반환
* 값이 비어있으면 `False` 반환



---

# 연산자(Operators)

## 산술 연산자(Arithmetic Operators)

## 비교 연산자(Comparison Operators)

## 할당 연산자(Assignment Operators)

## 비트 연산자(Bitwise Operators)

## 논리 연산자(Logical Operators)

## 멤버 연산자(Membership Operators)

## 식별 연산자(Identity Operators)